<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Player Known</title>

  </head>
  
  <body>
	   <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
			
      </div>
    </nav>
	<%= require_relative "../../assets/rAPI_handler.rb" %>
	<%= api_handler = API_Handler.new("eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJqdGkiOiIyODkwYWRhMC0yMmJiLTAxMzYtODU2OS0xZGY5Mjc3MjU3ZmYiLCJpc3MiOiJnYW1lbG9ja2VyIiwiaWF0IjoxNTIzNzgzNTk3LCJwdWIiOiJibHVlaG9sZSIsInRpdGxlIjoicHViZyIsImFwcCI6InBsYXllcmtub3ducyIsInNjb3BlIjoiY29tbXVuaXR5IiwibGltaXQiOjEwfQ.VOVhXVpcfAzwxIutHKRuSTi7dApBnriowsl0cmcszNc") %>
	<%= form_tag(api_handler.m_username, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Username.." %>
    <%= submit_tag "Search", :name => nil %>
	<% end %>
  </body>